@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins;
    margin: 0;
    background-color: #010101;
    color: #eee;
    width: 100%;
    overflow-x: hidden;
}




svg{
    width: 25px;
}
/* header{
    width: 100%;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    
}
header .logo{
    padding-top:2.5rem ;
    width: 2rem;
    height: fit-content;
    img{
        width: 5rem;
        height: 5rem; 
    }
}
header .menu{
    padding: 1.5rem 0 0 0;

    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
} */

.nav {
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    color: #ff3433;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline-block;
   
    img{
        width: 4rem;
        height: 4rem;
        margin-left: 3rem;
    }
}
   
  

  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #ff3433;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-top: 0.5rem;
    padding-right: 2rem;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #ff3433;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgb(255, 42, 42);
    color:white;
    border-radius: 5px;
    
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 20px 13px 1px 25px;
      
      background-color: rgba(255, 45, 45, 1);
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgb(255, 28, 28);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }


/* css slider */

.slider{
    width: 100%;
    max-width: 100vw;
    height: 700px;
    /* margin-top: -50px; */
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list .item .company-brief{
    position: absolute;
    top: 10%;
    width: 30rem;
    padding-left: 8rem;
    h3{
        font-size: 100px;
        margin-bottom: 0;
    }
    p{
        font-size: 18px;
    }
}
.slider .list .item{
    width: 100vw;
}
.slider .list img{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%)
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 1%;
    right: 2%;
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

@media screen and (max-width:860px) {
    .slider .list .item .company-brief{
        padding: 4rem;
        width: 30rem;
        h3{
            font-size: 80px;
        }
        p{
            font-size: 15px;
        }
    }
    
}

@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
   
        .slider .list .item .company-brief{
            padding: 4rem;
            width: 20rem;
            top: 15%;
            
            h3{
                font-size: 20px;
                margin-bottom: 20px;
            }
            p{
                font-size: 9px;
            }
}}

/* flag-slider */

.flagSlider{
    width: 100%;
}
.clients {
    padding: 0.5rem 0;
    background-color: #ff3433;
    color: white;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  .client-slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  /* .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
   */
  .slide-track {
    animation: scroll 100s linear infinite;
    display: flex;
    width: calc(200px * 14);
  }
  
  .slide {
    height: 100px;
    width: 250px;
    padding-top: 0.5rem;
    img {
      object-fit: cover;
    }
  }

  /* Counter */
  #custom-counter {
    text-align: center;
    display: flex;
    flex-wrap: column;
    align-items: center;
    justify-content: center;
    background: #e6e6e7;
    width: 100%;
    padding: 2rem 0;
}

#custom-counter .custom-items {
    width: 15rem;
    padding: 15px 20px;
    margin: 10px;
    background: white;
    border-radius: 2rem;
    text-align: center;
}
#custom-counter .custom-items .custom-count {
    color: #ff3433;
    margin-bottom: 0.5rem;
    font-size: 40px;
}
#custom-counter .custom-items h3 {
    color: #000000;
    text-transform: capitalize;
}
@media only screen and (max-width: 768px) {
    #custom-counter {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
    }
    .custom-items {
        padding: 5px 10px;
        padding: 0;
    }
}

#custom-counter-about {
    text-align: center;
    display: flex;
    flex-wrap: column;
    align-items: center;
    justify-content: center;
    background: #e6e6e7;
    width: 100%;
    padding: 2rem 0;
}

#custom-counter-about .custom-items {
    width: 15rem;
    padding: 15px 20px;
    margin: 10px;
    background: white;
    border-radius: 2rem;
    text-align: center;
}
#custom-counter-about .custom-items .custom-count {
    color: #ff3433;
    margin-bottom: 0.5rem;
    font-size: 40px;
}
#custom-counter-about .custom-items h3 {
    color: #000000;
    text-transform: capitalize;
}
@media only screen and (max-width: 768px) {
    #custom-counter-about {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
    }
    .custom-items {
        padding: 5px 10px;
        padding: 0;
    }
}


/* slider */

/* Container for the slider */
.container {
    width: 100%;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    h3{
        margin: 0;
        color: #000;
        padding: 2rem 0;
    }
  }
  .customer-logos{
    width: 90%;
  }
 
  
  
  /* Slider */
  .slick-slide {
    margin: 0px 20px;
  }
  
  .slick-slide img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .slick-slide img:hover {
    transform: scale(1.05);
  }
  
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .slick-track {
    position: relative;
    display: block;
  }
  
  .partner-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }
  
  .partner-slide img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .slick-initialized .partner-slide {
    display: block;
  }
  
  .slick-arrow.slick-hidden {
    display: none;
  }
  
  /* Custom Styles for responsiveness */
  @media (max-width: 768px) {
    .slick-slide {
      margin: 0 10px;
    }
  }
  
  @media (max-width: 520px) {
    .slick-slide {
      margin: 0 5px;
    }
  }

  footer {
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    } 
}

.footer-distributed {
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Poppins';
    margin: 0;
}


.footer-distributed h3 span {
    color: #ff3433;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}



/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #ff3433;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .footer-distributed .footer-center{
        display: none;
    }
    .footer-distributed .footer-right{
        display: none ;
    }
}       
  

/* About Page */
.about-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    
    .about-l {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #000;
      overflow: hidden;
      color: white;
    
        
      img {
        width: 100%;
        height: 800px;
        opacity: 0.4;
        object-fit: cover;
      }
     
  
      .about-mid {
        position: absolute;
        height: 700px;
        top: 1%;
        .about-ltext {
          
          align-items: center;
          text-align: center;
          width: fit-content;
          height: fit-content;
          padding: 1rem;
          h1{
          color: white;
      }
        }
        .hexagon-container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 5rem;
        }
        
        .hexagon {
          position: relative;
          width: 250px;  
          height: 144.34px;  
          background-color: #ff3433;
          margin: 0 2rem;
        }
        
        .hexagon h3 {
          position: absolute;
          top: -42.5px;  
          width: 100%;
          text-align: center;
          color: black;
        }
        
        .hexagon p {
          text-align: center;
        }
        
        .hexagon::before,
        .hexagon::after {
          content: "";
          position: absolute;
          width: 0;
          border-left: 125px solid transparent;  
          border-right: 125px solid transparent;  
        }
        
        .hexagon::before {
          bottom: 100%;
          border-bottom: 72.17px solid #ff3433; 
        }
        
        .hexagon::after {
          top: 100%;
          border-top: 72.17px solid #ff3433;  
        }
        
      }
    }

  }

  @media (max-width: 958px) {
    .about-container{
        display: flex;
        flex-direction: column;
    .about-l{
        img{
            height: 58rem;
        }
        .about-mid{
            .hexagon-container{
                height:46rem ;
                margin-top: 1.5rem;
            }
        }
    }
  }
}
  @media (max-width: 768px) {
    .about-container {
      display: flex;
      flex-direction: column;
      
      .about-l {
        width: 100%;
        height: auto;
        border: 0;
        img {
          height: 65rem;
          object-fit: cover;
        }
        .about-mid {
          top: 0;
          
          .hexagon-container {
            height: 44rem;
            margin-top: 2rem;
          }
          .hexagon {
            margin: 0.5rem 2rem;
          }
        }
      }
    }
  }
  
  @media (max-width: 550px) {
      .about-container{
          .about-l{
              img{
                  height: 80rem !important;
              }
              .about-mid{
                  .hexagon-container{
                      height: 54.5rem;
                  }
                  .hexagon{
                      margin-top: 5rem 0 !important;
                  }
              }
          }
      }
  }
  @media (max-width: 480px) {
    .about-container{
        .about-l{
            img{
                height: 88rem !important;
            }
            .about-mid{
                .hexagon-container{
                    height: 54.5rem;
                }
                .hexagon{
                    margin-top: 5rem 0 !important;
                }
            }
        }
    }
}





/* Construction */


.construction-second-div{
  background: rgb(212, 212, 232);
  color: #000;
  padding: 2rem;
  align-items: center;
  text-align: center;
}
.construction-third-div{
  background: rgb(223, 223, 223);
  color: #000;
  padding: 2rem;
  align-items: center;
  text-align: center;
}
.expertise-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1200 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
figure.snip1200 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1200 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.snip1200 figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border-width: 1px 1px 0;
}
figure.snip1200 .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
figure.snip1200 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.snip1200 h2 span {
  font-weight: 800;
}
figure.snip1200 h2:before,
figure.snip1200 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure.snip1200 h2:before {
  left: -1000%;
}
figure.snip1200 h2:after {
  right: -1000%;
}
figure.snip1200 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
}
figure.snip1200 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1200:hover img,
figure.snip1200.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1200:hover figcaption,
figure.snip1200.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.snip1200:hover p,
figure.snip1200.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}


.projects-main-div{
  background: rgb(212, 212, 232);
  color: #000;
  padding: 2rem 2rem 4rem 2rem;
  align-items: center;
  text-align: center;

}


.card-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: calc(100% - 120px); /* Adjust according to button size */
}

.card {
  flex: 0 0 auto;
  width: 400px;
  height: 200px;
  margin: 0 10px;
  border-radius: 10px;
  position: relative;
 
  scroll-snap-align: center;
  overflow: hidden; /* Ensure content stays within the card */
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0; /* Behind the text */
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  position: absolute;
  width: 100%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: rgba(0, 0, 0, 0.5); 
  padding: 2px 0 0 0;
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.btn{
  min-width:60px;
  margin:auto 30px;
  height:60px;
  border-radius:30px;
  background:#e7e7e7;
  border:0px;
  outline:none;
  cursor:pointer;
  z-index:9999;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
  transition: all .25s ease;
}

.btn:hover{
  box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}

.btn i {
  font-size:1.2rem;
}


#previous {
  left: 10px;
}

#nextone {
  right: 10px;
}

/*Construction-Project Page */

.project-main{
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #e9e9e9;
  justify-content: center;
  
}
.project-image{
  width: 700px;
  padding: 20px;
  height: 500px;
  object-fit: cover;
  margin-right: 2rem;
  img{
    width: 700px;
    height: 500px;
    object-fit: cover;
  }
}
.project-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  table,th,td{
    text-align: left;
    border:1px solid rgb(158, 158, 158);
  border-collapse: collapse;
  }
  th,td{
    padding: 5px;
  }

}
.related-projects{
  background: rgb(212, 212, 232);
  color: #000;
  padding: 2rem;
  align-items: center;
  text-align: center;
}

/* Solar Energy */

.energy-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  
  .energy-large {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    color: white;
  
      
    img {
      width: 100%;
      height: 650px;
      opacity: 0.4;
      object-fit: cover;
    }
   

    .energy-mid {
      position: absolute;
      height: 650px;
      top: 15%;
      .energy-ltext {
        
        align-items: center;
        text-align: left;
        width: 45rem;
        height: fit-content;
        padding: 1rem 1rem 1rem 5rem;
        h1{
        color: white;
        font-size: 2.5rem;
    }}}}}

    .energy-second-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      background: #ececec;
      color: #000000;
      padding-bottom: 4rem;
      .second-details-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 2rem;
        h2{
          width: 24rem;
        }
        p{
          width: 55rem;
        }
      }
      .details-images-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .detail-image{
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          width: 22rem;
          height: 15rem;

        img{
          border: 2px solid black;
          width: 22rem;
          height: 12rem;
        }
      }
      }
    }

    .energy-projects-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: black;
      background: #bdbdbd;
      text-align: center;
      .energy-project{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 2rem;
        
        .energy-project-image{
          flex: 1;
          width: 50rem;
          height: 20rem;
          
          
          img{
            width: 40rem;
            height: 20rem;
            border: 2px solid black;
          }
        }
        .energy-project-details{
          flex: 1;
          width: 20rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          
          table,th,td{
            width: 10rem;
            padding: 2px;
            text-align: left;
            border:1px solid black;
          border-collapse: collapse;
          }
          table{
            width: 10rem;
            padding-left: 10rem;
          }
        }
      }
    }

    /* Logistics Page */

    .logistics-container {
      display: flex;
      flex-direction: row;
      height: fit-content;
      width: 100%;
      
      .logistics-large {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #000;
        overflow: hidden;
        color: white;
      
          
        img {
          width: 100%;
          height: 550px;
          opacity: 0.4;
          object-fit: cover;
        }
       
    
        .logistics-mid {
          position: absolute;
          height: 650px;
          top: 15%;
          .logistics-ltext {
            
            align-items: center;
            text-align: left;
            width: 45rem;
            height: fit-content;
            padding: 1rem 1rem 1rem 5rem;
            h1{
            color: white;
            font-size: 2.5rem;
        }}}}}

        .logistics-second-container{
          width: 100%;
          display: flex;
          flex-direction: column;
          background: rgb(225, 225, 225);
          padding-bottom: 2rem;
          color: #000;
          .logistics-services-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding:2rem;
            a{
              text-decoration: none;
              color: rgb(0, 0, 0);
            .custom-solution{
              background: #7e98ff;
              border-radius: 60px;
              width: 4rem;
              height: 4rem;
              text-align: center;
              padding: 1rem;
            }
          }
          }
          .logistics-services {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px; 
            .service {
              width: 150px; 
              height: 150px;
              background-color: #007bff;
              clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: white; 
              font-size: 16px;
              text-align: center;
              margin: 5px;
              i {
                font-size: 32px; 
                margin-bottom: 10px; 
            }
            p {
              margin: 0; 
              font-size: 14px; 
          }
          
          }
        }
        }

        .freight-forwarding-main{
          display: flex;
          flex-direction: row;
          justify-content: center;
          color: #000;
          background: #f1f1f1;
          .freight-forwarding-details{
            width: 40%;
              padding: 5rem 5rem 3rem 5rem;
          .freight-forwarding-text{
              height: 80%;
              h2{
                font-size: 2.5rem;
              }

              
          }
        }
          .freight-forwarding-image{
            width: 50%;
            height: 500px;
            img{
              object-fit: cover;
              height: 500px;
              width: 100%;
            }
            
          }
        }

        /* Contact Page */

        .contact-container {
          position: relative;
          width: 100%;
          height: 70vh; /* 80% of the viewport height */
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
      }
      
      .background-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 1;
      }
      
      .gradient-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
          z-index: 2;
      }
      
      .contact-text {
          position: relative;
          z-index: 3;
          color: #fff;
          font-size: 3rem;
          font-weight: bold;
          text-align: center;
      }        

      .formWrapper{
        width: 100%;
        background: #ffffff;
      }
      .form-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        background: #ffffff;
        box-sizing: border-box;
        
        color: #000000;
        h2,p{

          text-align: center; 
        }
    }
    
    form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .form-column {
        flex: 1;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    label {
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    input, textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    textarea {
        resize: vertical;
        height: calc(2 * 40px + 45px); /* Twice the height of other fields */
    }
    
    .form-submit {
        width: 100%;
        text-align: center;
    }
    
    button {
        padding: 10px 20px;
        background-color: #ff3433;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #f42121;
    }
    
    @media (max-width: 768px) {
        form {
            flex-direction: column;
        }
    }

    .locations-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
      background: #e1e1e1;
  }
  
  .location {
      flex: 1;
      min-width: 300px;
      background-color: #f1f1f1;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
  }
  
  .location-image {
      position: relative;
      height: 400px;
  }
  
  .location-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .location-name {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 5px 10px;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
  }
  
  .location-info {
      padding: 15px;
      background-color: #ff3433;
      color: white;
  }
  
  .location-info h3 {
      margin-top: 0;
      margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
      .locations-container {
          flex-direction: column;
      }
  }



  /* Careers */
    .careers-wrapper{
      background: #eeeeee;
    }
  .careers-header {
    font-size: 24px;
    font-weight: 500;
    color: #ff3433;
    margin-bottom: 20px;
    text-align: left;
}

.form-wrapper-unique {
    display: flex;
    justify-content: center;
    padding: 20px 20px 40px 20px;
    color: #000;
}

.form-container-unique {
    background-color: #f8f9fa;
    padding: 20px 20px 40px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.form-title-unique {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-row-unique {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.form-group-unique {
    flex: 1;
}

.label-unique {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-unique {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.required-unique {
    color: red;
}

.form-submit-unique {
    text-align: center;
    margin-top: 30px;
}

.button-unique {
    background-color: #ff3433;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-unique:hover {
    background-color: #f92626;
}

/* Responsive Design */
@media (max-width: 576px) {
    .careers-header {
        text-align: center;
        margin-bottom: 10px;
    }
    
    .form-row-unique {
        flex-direction: column;
        gap: 10px;
    }
}
